### Fetching Data

##### This notebook will fetch data used to build the Olympics dashboard.
- Medal counts (live)
- Athletes per country
- GDP
- Population

---

### 1. Medal counts

In [7]:
import requests
import pandas as pd

In [18]:
url = 'https://web-cdn.api.bbci.co.uk/wc-poll-data/container/sport-olympics-medals?tournament=paris-2024'

headers = {
    'accept': 'application/json',
    'accept-language': 'en-GB,en;q=0.7',
    # 'if-none-match': '"e0086ea4e830e3bcc82cc414da1b34931a3c4466"',    # add this header to get 304 response, likely corresponds to our web session
    'origin': 'https://www.bbc.co.uk',
    'priority': 'u=1, i',
    'referer': 'https://www.bbc.co.uk/',
    'sec-ch-ua': '"Brave";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'
}

response = requests.get(url, headers=headers)

print(response.json())

{'standing': [{'country': {'code': 'JPN', 'name': 'Japan', 'urn': 'urn:bbc:sportsdata:olympics:country:japan'}, 'rank': 1, 'sequence': 1, 'medals': {'gold': 6, 'silver': 2, 'total': 12, 'bronze': 4}}, {'country': {'code': 'FRA', 'name': 'France', 'urn': 'urn:bbc:sportsdata:olympics:country:france'}, 'rank': 2, 'sequence': 2, 'medals': {'gold': 5, 'silver': 8, 'total': 16, 'bronze': 3}}, {'country': {'code': 'CHN', 'name': 'China', 'urn': 'urn:bbc:sportsdata:olympics:country:china'}, 'rank': 3, 'sequence': 3, 'medals': {'gold': 5, 'silver': 5, 'total': 12, 'bronze': 2}}, {'country': {'code': 'AUS', 'name': 'Australia', 'urn': 'urn:bbc:sportsdata:olympics:country:australia'}, 'rank': 4, 'sequence': 4, 'medals': {'gold': 5, 'silver': 4, 'total': 9, 'bronze': 0}}, {'country': {'code': 'KOR', 'name': 'South Korea', 'urn': 'urn:bbc:sportsdata:olympics:country:south-korea'}, 'rank': 5, 'sequence': 5, 'medals': {'gold': 5, 'silver': 3, 'total': 9, 'bronze': 1}}, {'country': {'code': 'US', 'name': 'United States', 'urn': 'urn:bbc:sportsdata:olympics:country:united-states'}, 'rank': 6, 'sequence': 6, 'medals': {'gold': 3, 'silver': 8, 'total': 20, 'bronze': 9}}, {'country': {'code': 'GB', 'name': 'Great Britain', 'urn': 'urn:bbc:sportsdata:olympics:country:great-britain'}, 'rank': 7, 'sequence': 7, 'medals': {'gold': 2, 'silver': 5, 'total': 10, 'bronze': 3}}, {'country': {'code': 'ITA', 'name': 'Italy', 'urn': 'urn:bbc:sportsdata:olympics:country:italy'}, 'rank': 8, 'sequence': 8, 'medals': {'gold': 2, 'silver': 3, 'total': 8, 'bronze': 3}}, {'country': {'code': 'CAN', 'name': 'Canada', 'urn': 'urn:bbc:sportsdata:olympics:country:canada'}, 'rank': 9, 'sequence': 9, 'medals': {'gold': 2, 'silver': 1, 'total': 5, 'bronze': 2}}, {'country': {'code': 'HK', 'name': 'Hong Kong', 'urn': 'urn:bbc:sportsdata:olympics:country:hong-kong'}, 'rank': 10, 'sequence': 10, 'medals': {'gold': 2, 'silver': 0, 'total': 3, 'bronze': 1}}, {'country': {'code': 'GER', 'name': 'Germany', 'urn': 'urn:bbc:sportsdata:olympics:country:germany'}, 'rank': 11, 'sequence': 11, 'medals': {'gold': 2, 'silver': 0, 'total': 2, 'bronze': 0}}, {'country': {'code': 'KAZ', 'name': 'Kazakhstan', 'urn': 'urn:bbc:sportsdata:olympics:country:kazakhstan'}, 'rank': 12, 'sequence': 12, 'medals': {'gold': 1, 'silver': 0, 'total': 3, 'bronze': 2}}, {'country': {'code': 'SA', 'name': 'South Africa', 'urn': 'urn:bbc:sportsdata:olympics:country:south-africa'}, 'rank': 12, 'sequence': 13, 'medals': {'gold': 1, 'silver': 0, 'total': 3, 'bronze': 2}}, {'country': {'code': 'BEL', 'name': 'Belgium', 'urn': 'urn:bbc:sportsdata:olympics:country:belgium'}, 'rank': 14, 'sequence': 14, 'medals': {'gold': 1, 'silver': 0, 'total': 2, 'bronze': 1}}, {'country': {'code': 'AZE', 'name': 'Azerbaijan', 'urn': 'urn:bbc:sportsdata:olympics:country:azerbaijan'}, 'rank': 15, 'sequence': 15, 'medals': {'gold': 1, 'silver': 0, 'total': 1, 'bronze': 0}}, {'country': {'code': 'ROM', 'name': 'Romania', 'urn': 'urn:bbc:sportsdata:olympics:country:romania'}, 'rank': 15, 'sequence': 16, 'medals': {'gold': 1, 'silver': 0, 'total': 1, 'bronze': 0}}, {'country': {'code': 'SER', 'name': 'Serbia', 'urn': 'urn:bbc:sportsdata:olympics:country:serbia'}, 'rank': 15, 'sequence': 17, 'medals': {'gold': 1, 'silver': 0, 'total': 1, 'bronze': 0}}, {'country': {'code': 'UZB', 'name': 'Uzbekistan', 'urn': 'urn:bbc:sportsdata:olympics:country:uzbekistan'}, 'rank': 15, 'sequence': 18, 'medals': {'gold': 1, 'silver': 0, 'total': 1, 'bronze': 0}}, {'country': {'code': 'BRZ', 'name': 'Brazil', 'urn': 'urn:bbc:sportsdata:olympics:country:brazil'}, 'rank': 19, 'sequence': 19, 'medals': {'gold': 0, 'silver': 1, 'total': 3, 'bronze': 2}}, {'country': {'code': 'SWE', 'name': 'Sweden', 'urn': 'urn:bbc:sportsdata:olympics:country:sweden'}, 'rank': 19, 'sequence': 20, 'medals': {'gold': 0, 'silver': 1, 'total': 3, 'bronze': 2}}, {'country': {'code': 'TUR', 'name': 'Turkey', 'urn': 'urn:bbc:sportsdata:olympics:country:turkey'}, 'rank': 21, 'sequence': 21, 'medals': {'gold': 0, 'silver': 1, 'total': 2, 'bronze': 1}}, {'country': {'code': 'FIJ', 'name': 'Fiji', 'urn': 'urn:bbc:sportsdata:olympics:country:fiji'}, 'rank': 22, 'sequence': 22, 'medals': {'gold': 0, 'silver': 1, 'total': 1, 'bronze': 0}}, {'country': {'code': 'KOS', 'name': 'Kosovo', 'urn': 'urn:bbc:sportsdata:olympics:country:kosovo'}, 'rank': 22, 'sequence': 23, 'medals': {'gold': 0, 'silver': 1, 'total': 1, 'bronze': 0}}, {'country': {'code': 'MGL', 'name': 'Mongolia', 'urn': 'urn:bbc:sportsdata:olympics:country:mongolia'}, 'rank': 22, 'sequence': 24, 'medals': {'gold': 0, 'silver': 1, 'total': 1, 'bronze': 0}}, {'country': {'code': 'POL', 'name': 'Poland', 'urn': 'urn:bbc:sportsdata:olympics:country:poland'}, 'rank': 22, 'sequence': 25, 'medals': {'gold': 0, 'silver': 1, 'total': 1, 'bronze': 0}}, {'country': {'code': 'TUN', 'name': 'Tunisia', 'urn': 'urn:bbc:sportsdata:olympics:country:tunisia'}, 'rank': 22, 'sequence': 26, 'medals': {'gold': 0, 'silver': 1, 'total': 1, 'bronze': 0}}, {'country': {'code': 'IND', 'name': 'India', 'urn': 'urn:bbc:sportsdata:olympics:country:india'}, 'rank': 27, 'sequence': 27, 'medals': {'gold': 0, 'silver': 0, 'total': 2, 'bronze': 2}}, {'country': {'code': 'MDA', 'name': 'Moldova', 'urn': 'urn:bbc:sportsdata:olympics:country:moldova'}, 'rank': 27, 'sequence': 28, 'medals': {'gold': 0, 'silver': 0, 'total': 2, 'bronze': 2}}, {'country': {'code': 'CRO', 'name': 'Croatia', 'urn': 'urn:bbc:sportsdata:olympics:country:croatia'}, 'rank': 29, 'sequence': 29, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'EGY', 'name': 'Egypt', 'urn': 'urn:bbc:sportsdata:olympics:country:egypt'}, 'rank': 29, 'sequence': 30, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'HUN', 'name': 'Hungary', 'urn': 'urn:bbc:sportsdata:olympics:country:hungary'}, 'rank': 29, 'sequence': 31, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'IRE', 'name': 'Ireland', 'urn': 'urn:bbc:sportsdata:olympics:country:ireland'}, 'rank': 29, 'sequence': 32, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'MEX', 'name': 'Mexico', 'urn': 'urn:bbc:sportsdata:olympics:country:mexico'}, 'rank': 29, 'sequence': 33, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'SVK', 'name': 'Slovakia', 'urn': 'urn:bbc:sportsdata:olympics:country:slovakia'}, 'rank': 29, 'sequence': 34, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'SPA', 'name': 'Spain', 'urn': 'urn:bbc:sportsdata:olympics:country:spain'}, 'rank': 29, 'sequence': 35, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'SWI', 'name': 'Switzerland', 'urn': 'urn:bbc:sportsdata:olympics:country:switzerland'}, 'rank': 29, 'sequence': 36, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'UKR', 'name': 'Ukraine', 'urn': 'urn:bbc:sportsdata:olympics:country:ukraine'}, 'rank': 29, 'sequence': 37, 'medals': {'gold': 0, 'silver': 0, 'total': 1, 'bronze': 1}}, {'country': {'code': 'AFG', 'name': 'Afghanistan', 'urn': 'urn:bbc:sportsdata:olympics:country:afghanistan'}, 'rank': 38, 'sequence': 38, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ALB', 'name': 'Albania', 'urn': 'urn:bbc:sportsdata:olympics:country:albania'}, 'rank': 38, 'sequence': 39, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ALG', 'name': 'Algeria', 'urn': 'urn:bbc:sportsdata:olympics:country:algeria'}, 'rank': 38, 'sequence': 40, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ASA', 'name': 'American Samoa', 'urn': 'urn:bbc:sportsdata:olympics:country:american-samoa'}, 'rank': 38, 'sequence': 41, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'AND', 'name': 'Andorra', 'urn': 'urn:bbc:sportsdata:olympics:country:andorra'}, 'rank': 38, 'sequence': 42, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ANG', 'name': 'Angola', 'urn': 'urn:bbc:sportsdata:olympics:country:angola'}, 'rank': 38, 'sequence': 43, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ANT', 'name': 'Antigua and Barbuda', 'urn': 'urn:bbc:sportsdata:olympics:country:antigua-and-barbuda'}, 'rank': 38, 'sequence': 44, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ARG', 'name': 'Argentina', 'urn': 'urn:bbc:sportsdata:olympics:country:argentina'}, 'rank': 38, 'sequence': 45, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ARM', 'name': 'Armenia', 'urn': 'urn:bbc:sportsdata:olympics:country:armenia'}, 'rank': 38, 'sequence': 46, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ARU', 'name': 'Aruba', 'urn': 'urn:bbc:sportsdata:olympics:country:aruba'}, 'rank': 38, 'sequence': 47, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'AUT', 'name': 'Austria', 'urn': 'urn:bbc:sportsdata:olympics:country:austria'}, 'rank': 38, 'sequence': 48, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BAH', 'name': 'Bahamas', 'urn': 'urn:bbc:sportsdata:olympics:country:bahamas'}, 'rank': 38, 'sequence': 49, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BHR', 'name': 'Bahrain', 'urn': 'urn:bbc:sportsdata:olympics:country:bahrain'}, 'rank': 38, 'sequence': 50, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BAN', 'name': 'Bangladesh', 'urn': 'urn:bbc:sportsdata:olympics:country:bangladesh'}, 'rank': 38, 'sequence': 51, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BRB', 'name': 'Barbados', 'urn': 'urn:bbc:sportsdata:olympics:country:barbados'}, 'rank': 38, 'sequence': 52, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BLZ', 'name': 'Belize', 'urn': 'urn:bbc:sportsdata:olympics:country:belize'}, 'rank': 38, 'sequence': 53, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BEN', 'name': 'Benin', 'urn': 'urn:bbc:sportsdata:olympics:country:benin'}, 'rank': 38, 'sequence': 54, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BER', 'name': 'Bermuda', 'urn': 'urn:bbc:sportsdata:olympics:country:bermuda'}, 'rank': 38, 'sequence': 55, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BHU', 'name': 'Bhutan', 'urn': 'urn:bbc:sportsdata:olympics:country:bhutan'}, 'rank': 38, 'sequence': 56, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BOL', 'name': 'Bolivia', 'urn': 'urn:bbc:sportsdata:olympics:country:bolivia'}, 'rank': 38, 'sequence': 57, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BIH', 'name': 'Bosnia-Herzegovina', 'urn': 'urn:bbc:sportsdata:olympics:country:bosnia-herzegovina'}, 'rank': 38, 'sequence': 58, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BOT', 'name': 'Botswana', 'urn': 'urn:bbc:sportsdata:olympics:country:botswana'}, 'rank': 38, 'sequence': 59, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BRU', 'name': 'Brunei', 'urn': 'urn:bbc:sportsdata:olympics:country:brunei'}, 'rank': 38, 'sequence': 60, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BUL', 'name': 'Bulgaria', 'urn': 'urn:bbc:sportsdata:olympics:country:bulgaria'}, 'rank': 38, 'sequence': 61, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BFA', 'name': 'Burkina Faso', 'urn': 'urn:bbc:sportsdata:olympics:country:burkina-faso'}, 'rank': 38, 'sequence': 62, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'BDI', 'name': 'Burundi', 'urn': 'urn:bbc:sportsdata:olympics:country:burundi'}, 'rank': 38, 'sequence': 63, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CPV', 'name': 'Cape Verde', 'urn': 'urn:bbc:sportsdata:olympics:country:cape-verde'}, 'rank': 38, 'sequence': 64, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CAM', 'name': 'Cambodia', 'urn': 'urn:bbc:sportsdata:olympics:country:cambodia'}, 'rank': 38, 'sequence': 65, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CMR', 'name': 'Cameroon', 'urn': 'urn:bbc:sportsdata:olympics:country:cameroon'}, 'rank': 38, 'sequence': 66, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CAY', 'name': 'Cayman Islands', 'urn': 'urn:bbc:sportsdata:olympics:country:cayman-islands'}, 'rank': 38, 'sequence': 67, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CTA', 'name': 'Central African Republic', 'urn': 'urn:bbc:sportsdata:olympics:country:central-african-republic'}, 'rank': 38, 'sequence': 68, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CHA', 'name': 'Chad', 'urn': 'urn:bbc:sportsdata:olympics:country:chad'}, 'rank': 38, 'sequence': 69, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CHI', 'name': 'Chile', 'urn': 'urn:bbc:sportsdata:olympics:country:chile'}, 'rank': 38, 'sequence': 70, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'TPE', 'name': 'Chinese Taipei', 'urn': 'urn:bbc:sportsdata:olympics:country:chinese-taipei'}, 'rank': 38, 'sequence': 71, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'COL', 'name': 'Colombia', 'urn': 'urn:bbc:sportsdata:olympics:country:colombia'}, 'rank': 38, 'sequence': 72, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'COM', 'name': 'Comoros', 'urn': 'urn:bbc:sportsdata:olympics:country:comoros'}, 'rank': 38, 'sequence': 73, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CGO', 'name': 'Congo', 'urn': 'urn:bbc:sportsdata:olympics:country:congo'}, 'rank': 38, 'sequence': 74, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CKI', 'name': 'Cook Islands', 'urn': 'urn:bbc:sportsdata:olympics:country:cook-islands'}, 'rank': 38, 'sequence': 75, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CRC', 'name': 'Costa Rica', 'urn': 'urn:bbc:sportsdata:olympics:country:costa-rica'}, 'rank': 38, 'sequence': 76, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CIV', 'name': 'Ivory Coast', 'urn': 'urn:bbc:sportsdata:olympics:country:ivory-coast'}, 'rank': 38, 'sequence': 77, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CUB', 'name': 'Cuba', 'urn': 'urn:bbc:sportsdata:olympics:country:cuba'}, 'rank': 38, 'sequence': 78, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CYP', 'name': 'Cyprus', 'urn': 'urn:bbc:sportsdata:olympics:country:cyprus'}, 'rank': 38, 'sequence': 79, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'CZE', 'name': 'Czech Republic', 'urn': 'urn:bbc:sportsdata:olympics:country:czech-republic'}, 'rank': 38, 'sequence': 80, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'DEN', 'name': 'Denmark', 'urn': 'urn:bbc:sportsdata:olympics:country:denmark'}, 'rank': 38, 'sequence': 81, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'DJI', 'name': 'Djibouti', 'urn': 'urn:bbc:sportsdata:olympics:country:djibouti'}, 'rank': 38, 'sequence': 82, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'DMA', 'name': 'Dominica', 'urn': 'urn:bbc:sportsdata:olympics:country:dominica'}, 'rank': 38, 'sequence': 83, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'DOM', 'name': 'Dominican Republic', 'urn': 'urn:bbc:sportsdata:olympics:country:dominican-republic'}, 'rank': 38, 'sequence': 84, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'PRK', 'name': 'North Korea', 'urn': 'urn:bbc:sportsdata:olympics:country:north-korea'}, 'rank': 38, 'sequence': 85, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'COD', 'name': 'DR Congo', 'urn': 'urn:bbc:sportsdata:olympics:country:dr-congo'}, 'rank': 38, 'sequence': 86, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ECU', 'name': 'Ecuador', 'urn': 'urn:bbc:sportsdata:olympics:country:ecuador'}, 'rank': 38, 'sequence': 87, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ELS', 'name': 'El Salvador', 'urn': 'urn:bbc:sportsdata:olympics:country:el-salvador'}, 'rank': 38, 'sequence': 88, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'EOR', 'name': 'Refugee Olympic Team', 'urn': 'urn:bbc:sportsdata:olympics:country:refugee-olympic-team'}, 'rank': 38, 'sequence': 89, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'EQG', 'name': 'Equatorial Guinea', 'urn': 'urn:bbc:sportsdata:olympics:country:equatorial-guinea'}, 'rank': 38, 'sequence': 90, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ERI', 'name': 'Eritrea', 'urn': 'urn:bbc:sportsdata:olympics:country:eritrea'}, 'rank': 38, 'sequence': 91, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'EST', 'name': 'Estonia', 'urn': 'urn:bbc:sportsdata:olympics:country:estonia'}, 'rank': 38, 'sequence': 92, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'SWZ', 'name': 'Eswatini', 'urn': 'urn:bbc:sportsdata:olympics:country:eswatini'}, 'rank': 38, 'sequence': 93, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'ETH', 'name': 'Ethiopia', 'urn': 'urn:bbc:sportsdata:olympics:country:ethiopia'}, 'rank': 38, 'sequence': 94, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'FIN', 'name': 'Finland', 'urn': 'urn:bbc:sportsdata:olympics:country:finland'}, 'rank': 38, 'sequence': 95, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GAB', 'name': 'Gabon', 'urn': 'urn:bbc:sportsdata:olympics:country:gabon'}, 'rank': 38, 'sequence': 96, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GAM', 'name': 'Gambia', 'urn': 'urn:bbc:sportsdata:olympics:country:gambia'}, 'rank': 38, 'sequence': 97, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GEO', 'name': 'Georgia', 'urn': 'urn:bbc:sportsdata:olympics:country:georgia'}, 'rank': 38, 'sequence': 98, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GHA', 'name': 'Ghana', 'urn': 'urn:bbc:sportsdata:olympics:country:ghana'}, 'rank': 38, 'sequence': 99, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GRE', 'name': 'Greece', 'urn': 'urn:bbc:sportsdata:olympics:country:greece'}, 'rank': 38, 'sequence': 100, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GRN', 'name': 'Grenada', 'urn': 'urn:bbc:sportsdata:olympics:country:grenada'}, 'rank': 38, 'sequence': 101, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GUM', 'name': 'Guam', 'urn': 'urn:bbc:sportsdata:olympics:country:guam'}, 'rank': 38, 'sequence': 102, 'medals': {'gold': 0, 'silver': 0, 'total': 0, 'bronze': 0}}, {'country': {'code': 'GUA', 'name': 'Guatemala', 'urn': 'urn:bbc:sportsdata:olympics:country:guatemala'}, 'rank': 38, 'sequence': 103, 'meda

In [19]:
response.status_code

200

In [15]:
df = pd.DataFrame(response.json()['standing'])

# Expand the 'country' column into separate columns
df = pd.concat([df.drop(['country', 'medals'], axis=1), df['country'].apply(pd.Series), df['medals'].apply(pd.Series)], axis=1).drop(columns=['urn'])
df

     rank  sequence code                     name  gold  silver  total  bronze
0       1         1  CHN                    China     4       2      8       2
1       2         2  JPN                    Japan     4       2      7       1
2       2         3  KOR              South Korea     4       2      7       1
3       4         4  AUS                Australia     4       2      6       0
4       5         5   US            United States     3       6     12       3
..    ...       ...  ...                      ...   ...     ...    ...     ...
200    30       201  BVI   British Virgin Islands     0       0      0       0
201    30       202  AVI  American Virgin Islands     0       0      0       0
202    30       203  YEM                    Yemen     0       0      0       0
203    30       204  ZAM                   Zambia     0       0      0       0
204    30       205  ZIM                 Zimbabwe     0       0      0       0

[205 rows x 8 columns]

In [22]:
s3_url ='https://eco-data-cache.s3.eu-west-2.amazonaws.com/olympics/live_results/medals.csv'
# Create dataframe using csv from s3 url
df = pd.read_csv(s3_url)
df

     rank  sequence code                     name  gold  silver  total  bronze
0       1         1  JPN                    Japan     6       2     12       4
1       2         2  FRA                   France     5       8     16       3
2       3         3  CHN                    China     5       5     12       2
3       4         4  AUS                Australia     5       4      9       0
4       5         5  KOR              South Korea     5       3      9       1
..    ...       ...  ...                      ...   ...     ...    ...     ...
200    38       201  BVI   British Virgin Islands     0       0      0       0
201    38       202  AVI  American Virgin Islands     0       0      0       0
202    38       203  YEM                    Yemen     0       0      0       0
203    38       204  ZAM                   Zambia     0       0      0       0
204    38       205  ZIM                 Zimbabwe     0       0      0       0

[205 rows x 8 columns]

In [23]:
df.columns

Index(['rank', 'sequence', 'code', 'name', 'gold', 'silver', 'total',
       'bronze'],
      dtype='object')

---

### 2. Athletes per country

We could get this data from a few places, such as the IOC. We'll use an article by CBS news and scrape the data from there.

In [2]:
import selenium as se
from selenium import webdriver
from bs4 import BeautifulSoup

import pandas as pd

In [3]:
url = 'https://www.cbsnews.com/news/athletes-olympics-numbers-2024-paris-games/'

# Use selenium to get the page source
driver = webdriver.Chrome()
driver.get(url)
html = driver.page_source
driver.quit()


# Use BeautifulSoup to parse the html
soup = BeautifulSoup(html, 'html.parser')

The list is contained within a `ul` tag.

In [4]:
# Find which ul tag contains the data we want
ul_list = soup.find_all('ul')
for i in range(len(ul_list)):
    print(i, ul_list[i].get_text(strip=True))

0 LatestU.S.WorldPoliticsEntertainmentHealthWatchMoneyWatchInvestigationsCrimeSpaceSportsEssentialsBrand StudioLocal NewsBaltimoreBay AreaBostonChicagoColoradoDetroitLos AngelesMiamiMinnesotaNew YorkPhiladelphiaPittsburghSacramentoTexasLiveCBS News 24/7BaltimoreBay AreaBostonChicagoColoradoDetroitLos AngelesMiamiMinnesotaNew YorkPhiladelphiaPittsburghSacramentoTexasShows48 Hours60 MinutesAmerica DecidesCBS Evening NewsCBS MorningsCBS News Eye on AmericaCBS News MorningsCBS ReportsCBS Saturday MorningThe Daily ReportThe DishFace the NationHere Comes the SunPerson to PersonSunday MorningThe TakeoutThe UpliftWeekenderCBS News InvestigatesPhotosPodcastsIn DepthNewslettersDownload Our AppCBS News TeamExecutive TeamParamount ShopParamount+Join Our Talent CommunityRSS FeedsA Moment With...Innovators & DisruptorsBrand Studio
1 U.S.WorldPoliticsEntertainmentHealthWatchMoneyWatchInvestigationsCrimeSpaceSportsEssentialsBrand Studio
2 BaltimoreBay AreaBostonChicagoColoradoDetroitLos AngelesMiamiMinnesotaNew YorkPhiladelphiaPittsburghSacramentoTexas
3 CBS News 24/7BaltimoreBay AreaBostonChicagoColoradoDetroitLos AngelesMiamiMinnesotaNew YorkPhiladelphiaPittsburghSacramentoTexas
4 48 Hours60 MinutesAmerica DecidesCBS Evening NewsCBS MorningsCBS News Eye on AmericaCBS News MorningsCBS ReportsCBS Saturday MorningThe Daily ReportThe DishFace the NationHere Comes the SunPerson to PersonSunday MorningThe TakeoutThe UpliftWeekender
5 CBS News InvestigatesPhotosPodcastsIn DepthNewslettersDownload Our AppCBS News TeamExecutive TeamParamount ShopParamount+Join Our Talent CommunityRSS FeedsA Moment With...Innovators & DisruptorsBrand Studio
6 U.S.WorldPoliticsHealthWatchMoneyWatchEntertainmentCrimeSportsEssentials
7
8 Afghanistan, 6Albania, 8Algeria, 45American Samoa, 2Andorra, 2Angola, 24Antigua and Barbuda, 5Argentina, 136Armenia, 15Aruba, 6Australia, 460Austria, 81Azerbaijan, 47Bahamas, 18Bahrain, 14Bangladesh, 5Barbados, 4Belgium, 165Belize, 1Benin, 5Bermuda, 8Bhutan, 3Bolivia, 4Bosnia and Herzegovina, 5Botswana, 13Brazil, 277Brunei Darussalam, 3Bulgaria, 46Burkina Faso, 8Burundi, 7Cabo Verde, 7Cambodia, 3Cameroon, 6Canada, 316Cayman Islands, 4Central African Republic, 4Chad, 3Chile, 48Chinese Taipei, 60Colombia, 88Comoros, 4Congo, 4Cook Islands, 2Costa Rica, 6Croatia, 73Cuba, 61Cyprus, 15Czechia, 112CÃƒÂ´te d'Ivoire, 13Democratic People's Republic of Korea, 16Democratic Republic of Timor-Leste, 4Democratic Republic of the Congo, 6Denmark, 123Djibouti, 7Dominica, 4Dominican Republic, 57Ecuador, 40Egypt, 149El Salvador, 8Equatorial Guinea, 3Eritrea, 13Estonia, 24Eswatini, 3Ethiopia, 32Federated States of Micronesia, 3Fiji, 33Finland, 56France, 572Gabon, 5Gambia, 7Georgia, 28Germany, 427Ghana, 8Great Britain, 327Greece, 101Grenada, 6Guam, 8Guatemala, 16Guinea	, 24Guinea-Bissau, 6Guyana, 5Haiti, 7Honduras, 4Hong Kong, China, 34Hungary, 169Iceland, 5India, 110Indonesia, 29Iraq, 22Ireland, 133Islamic Republic of Iran, 39Israel, 87Italy, 380Jamaica, 63Japan, 410Jordan, 12Kazakhstan, 79Kenya, 70Kiribati, 3Kosovo, 9Kuwait, 9Kyrgyzstan, 16Lao People's Democratic Republic, 4Latvia, 29Lebanon, 10Lesotho, 3Liberia, 8Libya, 6Liechtenstein, 1Lithuania, 50Luxembourg, 13Madagascar, 7Malawi, 3Malaysia, 26Maldives, 5Mali, 23Malta, 5Marshall Islands, 4Mauritania, 2Mauritius, 13Mexico, 106Monaco, 6Mongolia, 32Montenegro, 19Morocco, 60Mozambique, 7Myanmar, 2Namibia, 4Nauru, 1Nepal, 7Netherlands, 276New Zealand, 195Nicaragua, 7Niger, 7Nigeria, 85North Macedonia, 7Norway, 105Oman, 4Pakistan, 7Palau, 3Palestine, 8Panama, 8Papua New Guinea, 6Paraguay, 28People's Republic of China, 388Peru, 26Philippines, 22Poland, 214Portugal, 73Puerto Rico, 51Qatar, 14Refugee Olympic Team, 37Republic of Korea, 141Republic of Moldova, 25Romania, 107Rwanda, 8Saint Kitts and Nevis, 3Saint Lucia, 4Samoa, 24San Marino, 5Sao Tome and Principe, 3Saudi Arabia, 9Senegal, 11Serbia, 112Seychelles, 3Sierra Leone, 5Singapore, 23Slovakia, 28Slovenia, 90Solomon Islands, 3Somalia, 1South Africa, 138South Sudan, 14Spain, 382Sri Lanka, 6St Vincent and the Grenadines, 4Sudan, 4Suriname, 5Sweden, 117Switzerland, 127Syrian Arab Republic, 6Tajikistan, 14Thailand, 51Togo, 5Tonga, 4Trinidad and Tobago, 17Tunisia, 27Turkmenistan, 6Tuvalu, 2Turkey, 100Uganda, 25Ukraine, 140United Arab Emirates, 13United Republic of Tanzania, 7United States of America, 594Uruguay, 25Uzbekistan, 86Vanuatu, 6Venezuela, 32Vietnam, 16Virgin Islands, British	4Virgin Islands, US, 5Yemen, 4Zambia, 28Zimbabwe, 7Individual Neutral Athletes from Russia and Belarus, 31
9 In:ParisSportsOlympicsFrance
10 Privacy PolicyCalifornia NoticeDo Not Sell My Personal InformationTerms of UseAboutAdvertiseClosed CaptioningCBS News StoreSite MapContact UsHelp
11 facebooktwitterinstagramyoutube

The data we want is in tag 8.

In [5]:
data = ul_list[8].find_all('li')
data

[<li>Afghanistan, 6</li>,
 <li>Albania, 8</li>,
 <li>Algeria, 45</li>,
 <li>American Samoa, 2</li>,
 <li>Andorra, 2</li>,
 <li>Angola, 24</li>,
 <li>Antigua and Barbuda, 5</li>,
 <li>Argentina, 136</li>,
 <li>Armenia, 15</li>,
 <li>Aruba, 6</li>,
 <li>Australia, 460</li>,
 <li>Austria, 81</li>,
 <li>Azerbaijan, 47</li>,
 <li>Bahamas, 18</li>,
 <li>Bahrain, 14</li>,
 <li>Bangladesh, 5</li>,
 <li>Barbados, 4</li>,
 <li>Belgium, 165</li>,
 <li>Belize, 1</li>,
 <li>Benin, 5</li>,
 <li>Bermuda, 8</li>,
 <li>Bhutan, 3</li>,
 <li>Bolivia, 4</li>,
 <li>Bosnia and Herzegovina, 5</li>,
 <li>Botswana, 13</li>,
 <li>Brazil, 277</li>,
 <li>Brunei Darussalam, 3</li>,
 <li>Bulgaria, 46</li>,
 <li>Burkina Faso, 8</li>,
 <li>Burundi, 7</li>,
 <li>Cabo Verde, 7</li>,
 <li>Cambodia, 3</li>,
 <li>Cameroon, 6</li>,
 <li>Canada, 316</li>,
 <li>Cayman Islands, 4</li>,
 <li>Central African Republic, 4</li>,
 <li>Chad, 3</li>,
 <li>Chile, 48</li>,
 <li>Chinese Taipei, 60</li>,
 <li>Colombia, 88</li>,
 <li>Comoros, 4Â </li>,
 <li>Congo, 4</li>,
 <li>Cook Islands, 2</li>,
 <li>Costa Rica, 6</li>,
 <li>Croatia, 73</li>,
 <li>Cuba, 61</li>,
 <li>Cyprus, 15</li>,
 <li>Czechia, 112</li>,
 <li>CÃƒÂ´te d'Ivoire, 13</li>,
 <li>Democratic People's Republic of Korea, 16</li>,
 <li>Democratic Republic of Timor-Leste, 4</li>,
 <li>Democratic Republic of the Congo, 6</li>,
 <li>Denmark, 123</li>,
 <li>Djibouti, 7</li>,
 <li>Dominica, 4</li>,
 <li>Dominican Republic, 57</li>,
 <li>Ecuador, 40</li>,
 <li>Egypt, 149</li>,
 <li>El Salvador, 8</li>,
 <li>Equatorial Guinea, 3</li>,
 <li>Eritrea, 13</li>,
 <li>Estonia, 24</li>,
 <li>Eswatini, 3</li>,
 <li>Ethiopia, 32</li>,
 <li>Federated States of Micronesia, 3</li>,
 <li>Fiji, 33</li>,
 <li>Finland, 56</li>,
 <li>France, 572</li>,
 <li>Gabon, 5</li>,
 <li>Gambia, 7</li>,
 <li>Georgia, 28</li>,
 <li>Germany, 427</li>,
 <li>Ghana, 8</li>,
 <li>Great Britain, 327</li>,
 <li>Greece, 101</li>,
 <li>Grenada, 6</li>,
 <li>Guam, 8</li>,
 <li>Guatemala, 16</li>,
 <li>Guinea	, 24</li>,
 <li>Guinea-Bissau, 6</li>,
 <li>Guyana, 5</li>,
 <li>Haiti, 7</li>,
 <li>Honduras, 4</li>,
 <li>Hong Kong, China, 34</li>,
 <li>Hungary, 169</li>,
 <li>Iceland, 5</li>,
 <li>India, 110</li>,
 <li>Indonesia, 29</li>,
 <li>Iraq, 22</li>,
 <li>Ireland, 133</li>,
 <li>Islamic Republic of Iran, 39</li>,
 <li>Israel, 87</li>,
 <li>Italy, 380</li>,
 <li>Jamaica, 63</li>,
 <li>Japan, 410</li>,
 <li>Jordan, 12</li>,
 <li>Kazakhstan, 79</li>,
 <li>Kenya, 70</li>,
 <li>Kiribati, 3</li>,
 <li>Kosovo, 9</li>,
 <li>Kuwait, 9</li>,
 <li>Kyrgyzstan, 16</li>,
 <li>Lao People's Democratic Republic, 4</li>,
 <li>Latvia, 29</li>,
 <li>Lebanon, 10</li>,
 <li>Lesotho, 3</li>,
 <li>Liberia, 8</li>,
 <li>Libya, 6</li>,
 <li>Liechtenstein, 1</li>,
 <li>Lithuania, 50</li>,
 <li>Luxembourg, 13</li>,
 <li>Madagascar, 7</li>,
 <li>Malawi, 3</li>,
 <li>Malaysia, 26</li>,
 <li>Maldives, 5</li>,
 <li>Mali, 23</li>,
 <li>Malta, 5</li>,
 <li>Marshall Islands, 4</li>,
 <li>Mauritania, 2</li>,
 <li>Mauritius, 13</li>,
 <li>Mexico, 106</li>,
 <li>Monaco, 6</li>,
 <li>Mongolia, 32</li>,
 <li>Montenegro, 19</li>,
 <li>Morocco, 60</li>,
 <li>Mozambique, 7</li>,
 <li>Myanmar, 2</li>,
 <li>Namibia, 4</li>,
 <li>Nauru, 1</li>,
 <li>Nepal, 7</li>,
 <li>Netherlands, 276</li>,
 <li>New Zealand, 195</li>,
 <li>Nicaragua, 7</li>,
 <li>Niger, 7</li>,
 <li>Nigeria, 85</li>,
 <li>North Macedonia, 7</li>,
 <li>Norway, 105</li>,
 <li>Oman, 4</li>,
 <li>Pakistan, 7</li>,
 <li>Palau, 3</li>,
 <li>Palestine, 8</li>,
 <li>Panama, 8</li>,
 <li>Papua New Guinea, 6</li>,
 <li>Paraguay, 28</li>,
 <li>People's Republic of China, 388</li>,
 <li>Peru, 26</li>,
 <li>Philippines, 22</li>,
 <li>Poland, 214</li>,
 <li>Portugal, 73</li>,
 <li>Puerto Rico, 51</li>,
 <li>Qatar, 14</li>,
 <li>Refugee Olympic Team, 37</li>,
 <li>Republic of Korea, 141</li>,
 <li>Republic of Moldova, 25</li>,
 <li>Romania, 107</li>,
 <li>Rwanda, 8</li>,
 <li>Saint Kitts and Nevis, 3</li>,
 <li>Saint Lucia, 4</li>,
 <li>Samoa, 24</li>,
 <li>San Marino, 5</li>,
 <li>Sao Tome and Principe, 3</li>,
 <li>Saudi Arabia, 9</li>,
 <li>Senegal, 11</li>,
 <li>Serbia, 112</li>,
 <li>Seychelles, 3</li>,
 <li>Sierra Leone, 5</li>,
 <li>Singapore, 23</li>,
 <li>Slovakia, 28</li>,
 <li>Slovenia, 90</li>,
 <li>Solomon Islands, 3</li>,
 <li>Somalia, 1</li>,
 <li>South Africa, 138</li>,
 <li>South Sudan, 14</li>,
 <li>Spain, 382</li>,
 <li>Sri Lanka, 6</li>,
 <li>St Vincent and the Grenadines, 4</li>,
 <li>Sudan, 4</li>,
 <li>Suriname, 5</li>,
 <li>Sweden, 117</li>,
 <li>Switzerland, 127</li>,
 <li>Syrian Arab Republic, 6</li>,
 <li>Tajikistan, 14</li>,
 <li>Thailand, 51</li>,
 <li>Togo, 5</li>,
 <li>Tonga, 4</li>,
 <li>Trinidad and Tobago, 17</li>,
 <li>Tunisia, 27</li>,
 <li>Turkmenistan, 6</li>,
 <li>Tuvalu, 2</li>,
 <li>Turkey, 100</li>,
 <li>Uganda, 25</li>,
 <li>Ukraine, 140</li>,
 <li>United Arab Emirates, 13</li>,
 <li>United Republic of Tanzania, 7</li>,
 <li>United States of America, 594</li>,
 <li>Uruguay, 25</li>,
 <li>Uzbekistan, 86</li>,
 <li>Vanuatu, 6</li>,
 <li>Venezuela, 32</li>,
 <li>Vietnam, 16</li>,
 <li>Virgin Islands, British	4</li>,
 <li>Virgin Islands, US, 5</li>,
 <li>Yemen, 4</li>,
 <li>Zambia, 28</li>,
 <li>Zimbabwe, 7</li>,
 <li>Individual Neutral Athletes from Russia and Belarus, 31</li>]

In [6]:
# For each item in the list, split the text into two parts and store in a dictionary
data_dict = {}
for item in data:
    print(item.get_text(strip=True))
    # Add some custom rules to handle countries with commas in their names
    if 'Hong Kong' in item.get_text(strip=True):
        key, value = item.get_text(strip=True).split(', China, ')
    elif 'Virgin Islands, British' in item.get_text(strip=True):
        key = 'British Virgin Islands'
        value = 4
    elif 'Virgin Islands, US' in item.get_text(strip=True):
        key = 'US Virgin Islands'
        value = 5
    else:
        key, value = item.get_text(strip=True).split(', ')
    data_dict[key] = value

Afghanistan, 6
Albania, 8
Algeria, 45
American Samoa, 2
Andorra, 2
Angola, 24
Antigua and Barbuda, 5
Argentina, 136
Armenia, 15
Aruba, 6
Australia, 460
Austria, 81
Azerbaijan, 47
Bahamas, 18
Bahrain, 14
Bangladesh, 5
Barbados, 4
Belgium, 165
Belize, 1
Benin, 5
Bermuda, 8
Bhutan, 3
Bolivia, 4
Bosnia and Herzegovina, 5
Botswana, 13
Brazil, 277
Brunei Darussalam, 3
Bulgaria, 46
Burkina Faso, 8
Burundi, 7
Cabo Verde, 7
Cambodia, 3
Cameroon, 6
Canada, 316
Cayman Islands, 4
Central African Republic, 4
Chad, 3
Chile, 48
Chinese Taipei, 60
Colombia, 88
Comoros, 4
Congo, 4
Cook Islands, 2
Costa Rica, 6
Croatia, 73
Cuba, 61
Cyprus, 15
Czechia, 112
CÃƒÂ´te d'Ivoire, 13
Democratic People's Republic of Korea, 16
Democratic Republic of Timor-Leste, 4
Democratic Republic of the Congo, 6
Denmark, 123
Djibouti, 7
Dominica, 4
Dominican Republic, 57
Ecuador, 40
Egypt, 149
El Salvador, 8
Equatorial Guinea, 3
Eritrea, 13
Estonia, 24
Eswatini, 3
Ethiopia, 32
Federated States of Micronesia, 3
Fiji, 33
Finland, 56
France, 572
Gabon, 5
Gambia, 7
Georgia, 28
Germany, 427
Ghana, 8
Great Britain, 327
Greece, 101
Grenada, 6
Guam, 8
Guatemala, 16
Guinea	, 24
Guinea-Bissau, 6
Guyana, 5
Haiti, 7
Honduras, 4
Hong Kong, China, 34
Hungary, 169
Iceland, 5
India, 110
Indonesia, 29
Iraq, 22
Ireland, 133
Islamic Republic of Iran, 39
Israel, 87
Italy, 380
Jamaica, 63
Japan, 410
Jordan, 12
Kazakhstan, 79
Kenya, 70
Kiribati, 3
Kosovo, 9
Kuwait, 9
Kyrgyzstan, 16
Lao People's Democratic Republic, 4
Latvia, 29
Lebanon, 10
Lesotho, 3
Liberia, 8
Libya, 6
Liechtenstein, 1
Lithuania, 50
Luxembourg, 13
Madagascar, 7
Malawi, 3
Malaysia, 26
Maldives, 5
Mali, 23
Malta, 5
Marshall Islands, 4
Mauritania, 2
Mauritius, 13
Mexico, 106
Monaco, 6
Mongolia, 32
Montenegro, 19
Morocco, 60
Mozambique, 7
Myanmar, 2
Namibia, 4
Nauru, 1
Nepal, 7
Netherlands, 276
New Zealand, 195
Nicaragua, 7
Niger, 7
Nigeria, 85
North Macedonia, 7
Norway, 105
Oman, 4
Pakistan, 7
Palau, 3
Palestine, 8
Panama, 8
Papua New Guinea, 6
Paraguay, 28
People's Republic of China, 388
Peru, 26
Philippines, 22
Poland, 214
Portugal, 73
Puerto Rico, 51
Qatar, 14
Refugee Olympic Team, 37
Republic of Korea, 141
Republic of Moldova, 25
Romania, 107
Rwanda, 8
Saint Kitts and Nevis, 3
Saint Lucia, 4
Samoa, 24
San Marino, 5
Sao Tome and Principe, 3
Saudi Arabia, 9
Senegal, 11
Serbia, 112
Seychelles, 3
Sierra Leone, 5
Singapore, 23
Slovakia, 28
Slovenia, 90
Solomon Islands, 3
Somalia, 1
South Africa, 138
South Sudan, 14
Spain, 382
Sri Lanka, 6
St Vincent and the Grenadines, 4
Sudan, 4
Suriname, 5
Sweden, 117
Switzerland, 127
Syrian Arab Republic, 6
Tajikistan, 14
Thailand, 51
Togo, 5
Tonga, 4
Trinidad and Tobago, 17
Tunisia, 27
Turkmenistan, 6
Tuvalu, 2
Turkey, 100
Uganda, 25
Ukraine, 140
United Arab Emirates, 13
United Republic of Tanzania, 7
United States of America, 594
Uruguay, 25
Uzbekistan, 86
Vanuatu, 6
Venezuela, 32
Vietnam, 16
Virgin Islands, British	4
Virgin Islands, US, 5
Yemen, 4
Zambia, 28
Zimbabwe, 7
Individual Neutral Athletes from Russia and Belarus, 31

In [7]:
data_dict

{'Afghanistan': '6',
 'Albania': '8',
 'Algeria': '45',
 'American Samoa': '2',
 'Andorra': '2',
 'Angola': '24',
 'Antigua and Barbuda': '5',
 'Argentina': '136',
 'Armenia': '15',
 'Aruba': '6',
 'Australia': '460',
 'Austria': '81',
 'Azerbaijan': '47',
 'Bahamas': '18',
 'Bahrain': '14',
 'Bangladesh': '5',
 'Barbados': '4',
 'Belgium': '165',
 'Belize': '1',
 'Benin': '5',
 'Bermuda': '8',
 'Bhutan': '3',
 'Bolivia': '4',
 'Bosnia and Herzegovina': '5',
 'Botswana': '13',
 'Brazil': '277',
 'Brunei Darussalam': '3',
 'Bulgaria': '46',
 'Burkina Faso': '8',
 'Burundi': '7',
 'Cabo Verde': '7',
 'Cambodia': '3',
 'Cameroon': '6',
 'Canada': '316',
 'Cayman Islands': '4',
 'Central African Republic': '4',
 'Chad': '3',
 'Chile': '48',
 'Chinese Taipei': '60',
 'Colombia': '88',
 'Comoros': '4',
 'Congo': '4',
 'Cook Islands': '2',
 'Costa Rica': '6',
 'Croatia': '73',
 'Cuba': '61',
 'Cyprus': '15',
 'Czechia': '112',
 "CÃƒÂ´te d'Ivoire": '13',
 "Democratic People's Republic of Korea": '16',
 'Democratic Republic of Timor-Leste': '4',
 'Democratic Republic of the Congo': '6',
 'Denmark': '123',
 'Djibouti': '7',
 'Dominica': '4',
 'Dominican Republic': '57',
 'Ecuador': '40',
 'Egypt': '149',
 'El Salvador': '8',
 'Equatorial Guinea': '3',
 'Eritrea': '13',
 'Estonia': '24',
 'Eswatini': '3',
 'Ethiopia': '32',
 'Federated States of Micronesia': '3',
 'Fiji': '33',
 'Finland': '56',
 'France': '572',
 'Gabon': '5',
 'Gambia': '7',
 'Georgia': '28',
 'Germany': '427',
 'Ghana': '8',
 'Great Britain': '327',
 'Greece': '101',
 'Grenada': '6',
 'Guam': '8',
 'Guatemala': '16',
 'Guinea\t': '24',
 'Guinea-Bissau': '6',
 'Guyana': '5',
 'Haiti': '7',
 'Honduras': '4',
 'Hong Kong': '34',
 'Hungary': '169',
 'Iceland': '5',
 'India': '110',
 'Indonesia': '29',
 'Iraq': '22',
 'Ireland': '133',
 'Islamic Republic of Iran': '39',
 'Israel': '87',
 'Italy': '380',
 'Jamaica': '63',
 'Japan': '410',
 'Jordan': '12',
 'Kazakhstan': '79',
 'Kenya': '70',
 'Kiribati': '3',
 'Kosovo': '9',
 'Kuwait': '9',
 'Kyrgyzstan': '16',
 "Lao People's Democratic Republic": '4',
 'Latvia': '29',
 'Lebanon': '10',
 'Lesotho': '3',
 'Liberia': '8',
 'Libya': '6',
 'Liechtenstein': '1',
 'Lithuania': '50',
 'Luxembourg': '13',
 'Madagascar': '7',
 'Malawi': '3',
 'Malaysia': '26',
 'Maldives': '5',
 'Mali': '23',
 'Malta': '5',
 'Marshall Islands': '4',
 'Mauritania': '2',
 'Mauritius': '13',
 'Mexico': '106',
 'Monaco': '6',
 'Mongolia': '32',
 'Montenegro': '19',
 'Morocco': '60',
 'Mozambique': '7',
 'Myanmar': '2',
 'Namibia': '4',
 'Nauru': '1',
 'Nepal': '7',
 'Netherlands': '276',
 'New Zealand': '195',
 'Nicaragua': '7',
 'Niger': '7',
 'Nigeria': '85',
 'North Macedonia': '7',
 'Norway': '105',
 'Oman': '4',
 'Pakistan': '7',
 'Palau': '3',
 'Palestine': '8',
 'Panama': '8',
 'Papua New Guinea': '6',
 'Paraguay': '28',
 "People's Republic of China": '388',
 'Peru': '26',
 'Philippines': '22',
 'Poland': '214',
 'Portugal': '73',
 'Puerto Rico': '51',
 'Qatar': '14',
 'Refugee Olympic Team': '37',
 'Republic of Korea': '141',
 'Republic of Moldova': '25',
 'Romania': '107',
 'Rwanda': '8',
 'Saint Kitts and Nevis': '3',
 'Saint Lucia': '4',
 'Samoa': '24',
 'San Marino': '5',
 'Sao Tome and Principe': '3',
 'Saudi Arabia': '9',
 'Senegal': '11',
 'Serbia': '112',
 'Seychelles': '3',
 'Sierra Leone': '5',
 'Singapore': '23',
 'Slovakia': '28',
 'Slovenia': '90',
 'Solomon Islands': '3',
 'Somalia': '1',
 'South Africa': '138',
 'South Sudan': '14',
 'Spain': '382',
 'Sri Lanka': '6',
 'St Vincent and the Grenadines': '4',
 'Sudan': '4',
 'Suriname': '5',
 'Sweden': '117',
 'Switzerland': '127',
 'Syrian Arab Republic': '6',
 'Tajikistan': '14',
 'Thailand': '51',
 'Togo': '5',
 'Tonga': '4',
 'Trinidad and Tobago': '17',
 'Tunisia': '27',
 'Turkmenistan': '6',
 'Tuvalu': '2',
 'Turkey': '100',
 'Uganda': '25',
 'Ukraine': '140',
 'United Arab Emirates': '13',
 'United Republic of Tanzania': '7',
 'United States of America': '594',
 'Uruguay': '25',
 'Uzbekistan': '86',
 'Vanuatu': '6',
 'Venezuela': '32',
 'Vietnam': '16',
 'British Virgin Islands': 4,
 'US Virgin Islands': 5,
 'Yemen': '4',
 'Zambia': '28',
 'Zimbabwe': '7',
 'Individual Neutral Athletes from Russia and Belarus': '31'}

In [10]:
# Create a dataframe from the dictionary
df = pd.DataFrame(data_dict.items(), columns=['country', 'athletes'])

# Import country converter as coco
import country_converter as coco
# Add a column with the ISO3 country codes
df['code'] = coco.convert(names=df['country'], to='ISO3')
df['iso2'] = coco.convert(names=df['country'], to='ISO2')

df = df[['iso2', 'code', 'country', 'athletes']]
df

Refugee Olympic Team not found in regex
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
Refugee Olympic Team not found in regex
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus
More than one regular expression match for Individual Neutral Athletes from Russia and Belarus

,iso2,code,country,athletes
0,AF,AFG,Afghanistan,6
1,AL,ALB,Albania,8
2,DZ,DZA,Algeria,45
3,AS,ASM,American Samoa,2
4,AD,AND,Andorra,2
...,...,...,...,...
201,VI,VIR,US Virgin Islands,5
202,YE,YEM,Yemen,4
203,ZM,ZMB,Zambia,28
204,ZW,ZWE,Zimbabwe,7
205,"[BY, RU]","[BLR, RUS]",Individual Neutral Athletes from Russia and Be...,31

In [11]:
df.to_csv('athletes.csv', index=False)

---

### 3. Population

We've saved World Population data previously.

In [85]:
path = '/Users/j.i.hellings/Documents/GrowthDay/1_DataDeepDive/data/C1_Population.csv'
df_pop = pd.read_csv(path)

# df_pop.to_csv('../../Data/UN_population_2023.csv', index=False)
df_pop

     Rank           Country  Population   Share ISO3 Continent    P21
0       1             India  1428627663  0.1776  IND      Asia   True
1       2             China  1425671352  0.1772  CHN      Asia   True
2       3     United States   339996563  0.0423  USA   America   True
3       4         Indonesia   277534122  0.0345  IDN      Asia   True
4       5          Pakistan   240485658  0.0299  PAK      Asia   True
..    ...               ...         ...     ...  ...       ...    ...
229   230        Montserrat        4386  0.0000  MSR   America  False
230   231  Falkland Islands        3791  0.0000  FLK   America  False
231   232              Niue        1935  0.0000  NIU   Oceania  False
232   233           Tokelau        1893  0.0000  TKL   Oceania  False
233   234           Vatican         518  0.0000  VAT    Europe  False

[234 rows x 7 columns]

### 4. GDP

World Bank data:
- GDP, PPP, Current International $: `NY.GDP.MKTP.PP.CD`

**Method 1**: Use World Bank API to get data for each country as needed

In [66]:
def get_wb_data(iso3: str, code='NY.GDP.MKTP.PP.CD'):
    # Make request
    # url = f'https://api.worldbank.org/v2/country/{iso3}/indicator/{code}?format=json&per_page=3'
    url = f'https://api.worldbank.org/v2/country/{iso3}/indicator/{code}?format=json&strdate=2020-01-01&enddate=2023-12-31'
    response = requests.get(url)
    try:
        data = json.loads(response.text)
        i = 0
        value = data[1][i]['value']
        while not value:
            i += 1
            value = data[1][i]['value']
            # If no data is found, try the next 5 years
            if i > 5:
                break
        if not value:
            print(f'No data found for {iso3}')
    except:
        print(f'No data found for {iso3}')
        value = None
    return value

In [64]:
get_wb_data('AFG')

86077580286.4421

In [67]:
import requests, json

df = df_pop.copy()
df['GDP'] = None
for i, row in df.iterrows():
    value = get_wb_data(row['ISO3'])
    df.loc[i, 'GDP'] = value

df.head()

No data found for BRA
No data found for YEM
No data found for VEN
No data found for PRK
No data found for TWN
No data found for TCD
No data found for GTM
No data found for GIN
No data found for CUB
No data found for SSD
No data found for ERI
No data found for REU
No data found for ESH
No data found for GLP
No data found for MTQ
No data found for MYT
No data found for GUF
No data found for PYF
No data found for NCL
No data found for GUM
No data found for IMN
No data found for MNP
No data found for ASM
No data found for LIE
No data found for MCO
No data found for GIB
No data found for MAF
No data found for VGB
No data found for BES
No data found for COK
No data found for AIA
No data found for WLF
No data found for BLM
No data found for SPM
No data found for SHN
No data found for MSR
No data found for FLK
No data found for NIU
No data found for TKL
No data found for VAT

,Rank,Country,Population,Share,ISO3,Continent,P21,GDP
0,1,India,1428627663,0.1776,IND,Asia,True,14537383619971.599609
1,2,China,1425671352,0.1772,CHN,Asia,True,34643706848019.898438
2,3,United States,339996563,0.0423,USA,America,True,27360934999999.898438
3,4,Indonesia,277534122,0.0345,IDN,Asia,True,4333084496745.120117
4,5,Pakistan,240485658,0.0299,PAK,Asia,True,1493905948493.040039

**Method 2**: Use main dataset

Data downloaded as Excel file, so we'll need to clean it and extract the most recent value 
for each country.

In [74]:
df_gdp = pd.read_excel('../../Data/world-bank_gdp-ppp-current_2023.xls', sheet_name='Data', skiprows=3)

# Drop columns
df_gdp = df_gdp.drop(columns=['Indicator Name', 'Indicator Code'])

# Rename columns
df_gdp = df_gdp.rename(columns={'Country Name': 'country', 'Country Code': 'ISO3'})

# Rotate
df_gdp = df_gdp.melt(id_vars=['country', 'ISO3'], var_name='year', value_name='GDP')

# Now, we want to get the most recent GDP value for each country
#   Filter to 2019 or later
df_gdp = df_gdp[df_gdp['year'].astype(int) >= 2019].copy()

#   Drop `NaN` GDP values
df_gdp = df_gdp.dropna(subset=['GDP'])

#  Sort by year
df_gdp = df_gdp.sort_values(['country', 'year'])

# Drop duplicates, keeping the last value
df_gdp = df_gdp.drop_duplicates(subset='country', keep='last').reset_index(drop=True)
df_gdp

                         country ISO3  year           GDP
0                    Afghanistan  AFG  2022  8.607758e+10
1    Africa Eastern and Southern  AFE  2023  3.296249e+12
2     Africa Western and Central  AFW  2023  2.709825e+12
3                        Albania  ALB  2023  5.875096e+10
4                        Algeria  DZA  2023  7.765398e+11
..                           ...  ...   ...           ...
242        Virgin Islands (U.S.)  VIR  2021  4.895223e+09
243           West Bank and Gaza  PSE  2023  3.041812e+10
244                        World  WLD  2023  1.846537e+14
245                       Zambia  ZMB  2023  8.486303e+10
246                     Zimbabwe  ZWE  2023  6.499342e+10

[247 rows x 4 columns]

In [25]:
df.head()

,Rank,Country,Population,Share,ISO3,Continent,P21,GDP
0,1,India,1428627663,0.1776,IND,Asia,True,14537383619971.599609
1,2,China,1425671352,0.1772,CHN,Asia,True,34643706848019.898438
2,3,United States,339996563,0.0423,USA,America,True,27360934999999.898438
3,4,Indonesia,277534122,0.0345,IDN,Asia,True,4333084496745.120117
4,5,Pakistan,240485658,0.0299,PAK,Asia,True,1493905948493.040039

In [27]:
# Add ISO2 codes
df['ISO2'] = coco.convert(names=df['ISO3'], to='ISO2')

### GDP per capita

In [97]:
df_gdp_pc = pd.read_excel('../../Data/world-bank_gdp-pc-ppp-current_2023.xls', sheet_name='Data', skiprows=3)

# Drop columns
df_gdp_pc = df_gdp_pc.drop(columns=['Indicator Name', 'Indicator Code'])

# Rename columns
df_gdp_pc = df_gdp_pc.rename(columns={'Country Name': 'country', 'Country Code': 'ISO3'})

# Rotate
df_gdp_pc = df_gdp_pc.melt(id_vars=['country', 'ISO3'], var_name='year', value_name='GDP-pc')

# Now, we want to get the most recent GDP value for each country
#   Filter to 2019 or later
df_gdp_pc = df_gdp_pc[df_gdp_pc['year'].astype(int) >= 2019].copy()

#   Drop `NaN` GDP values
df_gdp_pc = df_gdp_pc.dropna(subset=['GDP-pc'])

#  Sort by year
df_gdp_pc = df_gdp_pc.sort_values(['country', 'year'])

# Drop duplicates, keeping the last value
df_gdp_pc = df_gdp_pc.drop_duplicates(subset='country', keep='last').reset_index(drop=True)
df_gdp_pc

                         country ISO3  year        GDP-pc
0                    Afghanistan  AFG  2022   2092.879952
1    Africa Eastern and Southern  AFE  2023   4459.764134
2     Africa Western and Central  AFW  2023   5389.580896
3                        Albania  ALB  2023  21395.325037
4                        Algeria  DZA  2023  17026.961675
..                           ...  ...   ...           ...
242        Virgin Islands (U.S.)  VIR  2021  46238.059654
243           West Bank and Gaza  PSE  2023   5888.394311
244                        World  WLD  2023  23009.815026
245                       Zambia  ZMB  2023   4125.625556
246                     Zimbabwe  ZWE  2023   3899.899233

[247 rows x 4 columns]

In [112]:
df_gdp[df_gdp['country'] == 'Kosovo']['ISO3'].values[0]

'XKX'

---

### 5. Combine data

**5.1** Merge population & GDP

In [83]:
df_pop.head()

   Rank        Country  Population   Share ISO3 Continent   P21
0     1          India  1428627663  0.1776  IND      Asia  True
1     2          China  1425671352  0.1772  CHN      Asia  True
2     3  United States   339996563  0.0423  USA   America  True
3     4      Indonesia   277534122  0.0345  IDN      Asia  True
4     5       Pakistan   240485658  0.0299  PAK      Asia  True

In [99]:
df_main1 = pd.merge(df_pop, df_gdp[['ISO3', 'GDP']], on='ISO3', how='left')
df_main2 = pd.merge(df_main1, df_gdp_pc[['ISO3', 'GDP-pc']], on='ISO3', how='left')
df_main2

,Rank,Country,Population,Share,ISO3,Continent,P21,GDP,GDP-pc
0,1,India,1428627663,0.1776,IND,Asia,True,1.453738e+13,10175.767974
1,2,China,1425671352,0.1772,CHN,Asia,True,3.464371e+13,24557.638953
2,3,United States,339996563,0.0423,USA,America,True,2.736093e+13,81695.187071
3,4,Indonesia,277534122,0.0345,IDN,Asia,True,4.333084e+12,15612.799124
4,5,Pakistan,240485658,0.0299,PAK,Asia,True,1.493906e+12,6212.037595
...,...,...,...,...,...,...,...,...,...
229,230,Montserrat,4386,0.0000,MSR,America,False,NaN,NaN
230,231,Falkland Islands,3791,0.0000,FLK,America,False,NaN,NaN
231,232,Niue,1935,0.0000,NIU,Oceania,False,NaN,NaN
232,233,Tokelau,1893,0.0000,TKL,Oceania,False,NaN,NaN
233,234,Vatican,518,0.0000,VAT,Europe,False,NaN,NaN

**5.2** Merge with Paris Olympic athlete counts

In [100]:
df_athletes = pd.read_csv('athletes.csv')
df_athletes.head()

  iso2 code         country  athletes
0   AF  AFG     Afghanistan         6
1   AL  ALB         Albania         8
2   DZ  DZA         Algeria        45
3   AS  ASM  American Samoa         2
4   AD  AND         Andorra         2

In [103]:
df_athletes = pd.read_csv('athletes.csv')

df_main = pd.merge(df_athletes, df_main2, left_on='code', right_on='ISO3', how='left')

In [104]:
# Drop cols
df_main = df_main.drop(columns=['Country', 'ISO3'])
df_main

,iso2,code,country,athletes,Rank,Population,Share,Continent,P21,GDP,GDP-pc
0,AF,AFG,Afghanistan,6,36.0,42239854.0,0.0053,Asia,False,8.607758e+10,2092.879952
1,AL,ALB,Albania,8,138.0,2832439.0,0.0004,Europe,False,5.875096e+10,21395.325037
2,DZ,DZA,Algeria,45,34.0,45606480.0,0.0057,Africa,False,7.765398e+11,17026.961675
3,AS,ASM,American Samoa,2,212.0,43914.0,0.0000,Oceania,False,NaN,NaN
4,AD,AND,Andorra,2,202.0,80088.0,0.0000,Europe,False,5.733298e+09,71587.481776
...,...,...,...,...,...,...,...,...,...,...,...
201,VI,VIR,US Virgin Islands,5,199.0,98750.0,0.0000,America,False,4.895223e+09,46238.059654
202,YE,YEM,Yemen,4,44.0,34449825.0,0.0043,Asia,False,NaN,NaN
203,ZM,ZMB,Zambia,28,63.0,20569737.0,0.0026,Africa,False,8.486303e+10,4125.625556
204,ZW,ZWE,Zimbabwe,7,74.0,16665409.0,0.0021,Africa,False,6.499342e+10,3899.899233
205,"['BY', 'RU']","['BLR', 'RUS']",Individual Neutral Athletes from Russia and Be...,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
# Replace 'not found' with missing
df_main = df_main.replace('not found', None)

Validate any countries with missing population

In [108]:
# Check for countries without population
df_main[df_main['Population'].isnull()]

,iso2,code,country,athletes,Rank,Population,Share,Continent,P21,GDP,GDP-pc
99,XK,XKX,Kosovo,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,None,None,Refugee Olympic Team,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,"['BY', 'RU']","['BLR', 'RUS']",Individual Neutral Athletes from Russia and Be...,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

So we're missing Kosovo, which we should be able to get data for. Our World Bank data includes the GDP and GDP PC for Kosovo, so we just need Population.

There are some UN estimates [here](https://data.un.org/Data.aspx?q=Kosovo&d=PopDiv&f=variableID%3a12%3bcrID%3a412)

In [122]:
# Get Kosovo values for GDP and GDP per capita
xkx_gdp = df_gdp[df_gdp['country'] == 'Kosovo']['GDP'].values[0]
xkx_gdp_pc = df_gdp_pc[df_gdp_pc['country'] == 'Kosovo']['GDP-pc'].values[0]
xkx_pop = 1663594

In [123]:
# Updae Kosovo values
df_main.loc[df_main['country'] == 'Kosovo', 'Population'] = xkx_pop
df_main.loc[df_main['country'] == 'Kosovo', 'GDP'] = xkx_gdp
df_main.loc[df_main['country'] == 'Kosovo', 'GDP-pc'] = xkx_gdp_pc

Save to CSV

### Add country flags

In [124]:
df_main.to_csv('olympics_country-stats.csv', index=False)

---

### 6. Merge stats data with live medals data

In [107]:
medals = 'https://eco-data-cache.s3.eu-west-2.amazonaws.com/olympics/live_results/medals.csv'

df_medals = pd.read_csv(medals)
df_medals

     rank  sequence code                     name  gold  silver  total  bronze
0       1         1  CHN                    China     8       6     16       2
1       2         2  JPN                    Japan     7       2     13       4
2       3         3  FRA                   France     6       9     21       6
3       4         4   GB            Great Britain     6       6     17       5
4       5         5  AUS                Australia     6       4     13       3
..    ...       ...  ...                      ...   ...     ...    ...     ...
200    46       201  BVI   British Virgin Islands     0       0      0       0
201    46       202  AVI  American Virgin Islands     0       0      0       0
202    46       203  YEM                    Yemen     0       0      0       0
203    46       204  ZAM                   Zambia     0       0      0       0
204    46       205  ZIM                 Zimbabwe     0       0      0       0

[205 rows x 8 columns]

Task: merge with our main country stats data. We'll need to account for any differences in names or code, since some countries

In [125]:
df_main

,iso2,code,country,athletes,Rank,Population,Share,Continent,P21,GDP,GDP-pc
0,AF,AFG,Afghanistan,6,36.0,42239854.0,0.0053,Asia,False,8.607758e+10,2092.879952
1,AL,ALB,Albania,8,138.0,2832439.0,0.0004,Europe,False,5.875096e+10,21395.325037
2,DZ,DZA,Algeria,45,34.0,45606480.0,0.0057,Africa,False,7.765398e+11,17026.961675
3,AS,ASM,American Samoa,2,212.0,43914.0,0.0000,Oceania,False,NaN,NaN
4,AD,AND,Andorra,2,202.0,80088.0,0.0000,Europe,False,5.733298e+09,71587.481776
...,...,...,...,...,...,...,...,...,...,...,...
201,VI,VIR,US Virgin Islands,5,199.0,98750.0,0.0000,America,False,4.895223e+09,46238.059654
202,YE,YEM,Yemen,4,44.0,34449825.0,0.0043,Asia,False,NaN,NaN
203,ZM,ZMB,Zambia,28,63.0,20569737.0,0.0026,Africa,False,8.486303e+10,4125.625556
204,ZW,ZWE,Zimbabwe,7,74.0,16665409.0,0.0021,Africa,False,6.499342e+10,3899.899233
205,"['BY', 'RU']","['BLR', 'RUS']",Individual Neutral Athletes from Russia and Be...,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Define function for matching df_medals to df_main
def match_medals(df_main, df_medals):
    # Add empty columns that we will populate
    df_medals['athletes'] = None
    df_medals['population'] = None
    df_medals['GDP'] = None
    df_medals['GDP-pc'] = None
    df_medals['continent'] = None
    
    for i, row in df_main.iterrows():
        if row['iso2'] in df_medals['iso2'].values:
            df_main.loc[i, 'medals'] = df_medals[df_medals['iso2'] == row['iso2']]['total'].values[0]
        else:
            df_main.loc[i, 'medals'] = 'not found'
    # Merge the two dataframes
    df = pd.merge(df_main, df_medals, left_on='iso2', right_on='iso2', how='left')
    # Drop the 'code' column
    df = df.drop(columns=['code'])
    # Replace 'not found' with missing
    df = df.replace('not found', None)
    return df